{% extends 'base.html' %}
  {% load staticfiles %}
    {% block content %}
    {% include "navbar.html" %}

    <h1>Add item's to your closet...</h1>
    {% block sidebar %}
    <ul>
      <li><a href="/closetclient/item_details">Cancel</a></li>
    </ul>
    {% endblock %}


      <form action="/closetclient/add_item" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>
        {{ item_form.as_ul }}
        </ul>

        <input type="submit" name="submit" value="Add Item" />
      </form>
    {% endblock %} 