  {% extends 'base.html' %}
  {% block content %}
  <!-- {% load staticfiles %} -->
      <div class="row">
        <div class="col-md-12">
        {% include "navbar.html" %}
        </div>
      </div> 
      
      <div class="row">
        <div class="col-md-12"> 
          <h1>Login to MyCloset</h1>
          <form id="login_form" method="post" action="{% url 'closetclient:login' %}">
              {% csrf_token %}
              Username: <input type="text" name="username" value="" size="50" />
              <br />
              Password: <input type="password" name="password" value="" size="50" />
              <br />

              <input type="submit" value="submit" />
          </form>
        </div>
      </div>  

{% endblock %}