  {% extends 'base.html' %}
  {% load staticfiles %}
  {% block content %}
  <div class="container-fluid">
    {% include "navbar.html" %}
    <div class="row">
      <div class="col-md-12">
        <h1>Register with MyCloset</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'closetclient:index' %}">Return to the homepage.</a><br />
        {% else %}
        <strong>Register here!</strong><br />

        <form method="post" action="{% url 'closetclient:register' %}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->

            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />        
        </form>

      </div>
    </div>    
  </div>      
        {% endif %}
{% endblock %}